<aside class="article-navigation">
	<ul>
		<li class="hidden">
			<span class="nav-icon toc" id="articleNavToc">&#xF001;</span>
		</li>
		<li class="rwa-item">
			<span class="rwa-icon">
				<svg version="1.0" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 40 40" xml:space="preserve"><path class="external" d="M20,1C9.5,1,1,9.5,1,20s8.5,19,19,19s19-8.5,19-19S30.5,1,20,1z"/><path class="internal" d="M9.4,24.1c0.5,0.4,1.3,0.4,1.8-0.2v0l1.3-1.6l2,2.7c0.3,0.4,0.7,0.6,1.2,0.5c0.5-0.1,0.8-0.4,1-0.8l1.9-4.9 l2.8,6.6c0.2,0.5,0.6,0.8,1.2,0.8c0,0,0,0,0.1,0c0.5,0,1-0.4,1.1-0.9l2.7-9l1.2,2.4c0.3,0.6,1,0.9,1.7,0.6c0.6-0.3,0.9-1.1,0.6-1.7 l-2.6-5.3c-0.2-0.5-0.7-0.7-1.2-0.7c-0.5,0-0.9,0.4-1.1,0.9l-2.6,8.7l-2.6-6.2c-0.2-0.5-0.7-0.8-1.2-0.8c-0.5,0-1,0.3-1.1,0.8 l-2.2,5.7l-1.6-2.2c-0.2-0.3-0.6-0.5-1-0.5c-0.4,0-0.8,0.2-1,0.5l-2.3,2.8C8.7,22.9,8.8,23.7,9.4,24.1z"/></svg>
			</span>
			<div class="rwa-wrapper">{{{recentWikiActivity}}}</div>
		</li>
		<li>
			<span class="nav-icon edit" id="articleEditActions">&#xF002;</span>
			{{{editActionsDropdown}}}
		</li>
		<li>
			<span class="nav-icon settings" id="articleNavSettings" data-usertools="{{userTools}}">&#xF003;</span>
		</li>
		{{{share}}}
	</ul>
</aside>
